<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../public/css/main.css">
</head>

{{!-- <header>
  {{#if username}}
  <h2> Logged in </h2>
  {{else}}
  <h2> Noto logged in </h2>
  {{/if}}
</header> --}}
<header>
  <h1> Hoboken Apartment Finder </h1>
  <nav>
    <form id="homepage-view" action="/" method="GET"> 
      <button class="Homepage-button" type="submit"> Homepage </button>
    </form>

    <form id="apartments-form" action="/apartments" method="GET"> 
      <button class="Apartments-button" type="submit"> Apartments </button>
    </form>
{{!-- only show this if user is logged in I think need to add to object in js routes files--}}
    <form id="account-form" action="/users/protected" method="GET"> 
      <button class="Account-button" type="submit"> Account </button>
    </form>

    {{#if user.username}}
      <form id="logout-form" action="/users/logout" method="GET"> 
        <button class="logout-button" type = "submit"> Logout </button>
      </form>

    {{else}}
      <form id="login-form" action="/users/login" method="GET"> 
        <button class="Login-Signup-button" type = "submit"> LogIn/Signup </button>
      </form>

    {{/if}}

  </nav>
</header>


<body>
  <main>
    {{{body}}}
  </main>
  <nav> <a>  </a> </nav>
  <script
      src="https://code.jquery.com/jquery-2.2.4.min.js"
      integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
      crossorigin="anonymous"
    ></script>
</body>

</html>