body {
    background-color: #dab79d;
}

main{
    max-width: 105%;
    margin: auto;
}

h1{
    color: #dde3e7;
    font-family: Georgia;
    font-size: 30px;
    font-style: italic;
}

a {
    color: rgb(49, 117, 218);
    text-decoration: solid;
    font-size: 16pt;
}

p{

    color: rgb(6, 7, 7);
    font-size: 14pt;

}

button{
    color: rgb(121, 191, 231);
    background: rgb(196, 25, 25);
}

li{
   
    /* list-style: square; */
    color: red;
    font-size: 15pt;
}
ul.b {
    list-style-type: square;
  }

.p1{
    color: rgb(10, 98, 180);
    font-size: 20pt;
}

ul{
    
}

section{
    border:ridge;
    border-color: rgb(218, 42, 94);
    border-width: 3pt;
}

dt{
    color: red;
    font-size: 18pt;
}

dl{
    border-style: groove;
    border-color: rgb(14, 9, 1);
    font-size: 5pt;
}

dd{
    color: rgb(14, 9, 1);
    font-size: 13pt;
}
.apt_d{
    background-color: #dab79d;
    box-sizing: border-box;
    display: block;
    text-align: center;
    float: left; 
    width: 100%;
    padding: 0;
    padding-top: 20px;
    margin: 0;
}
 .apt_title{
    background-color: red;
    padding: 5px;
    text-align: center;
} 
.title_p{
    overflow: hidden;
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 24px;
    text-decoration: none;
}
.apartment_p{
    overflow: hidden;
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 24px;
    text-decoration: none;
}
.account_p{
    overflow: hidden;
      float: left;
      display: block;
      color: #f2f2f2;
      text-align: center;
      padding: 20px 24px;
      text-decoration: none;
}
.log_p{
    overflow: hidden;
      float: left;
      display: block;
      color: #f2f2f2;
      text-align: center;
      padding: 20px 24px;
      text-decoration: none;
}
.login_p{
    width: 80%;
    float: left;
    padding-left: 1%;
}
.image{

    float: right;
    margin-left: 10px;
    clear:both;
}
.display-image{
    width: 400px;
    height: 225px;
    border: 1px solid black;
    background-position: center;
    background-size: cover;
  }
 /* .footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
  }  */

.homepage_c{
    /* margin-left: 30px; */
    text-align: center;
    overflow:auto;
    /* display:block; */
    display: table;
  } 

h2{
    text-align: center;
}

h3{
    color: rgb(20, 1, 1);
    font-size: 23px;
    font-style: italic;
}

h4{

}

label{

}

nav{

}

header{

}

form{

}

br{

}

input{

}

option{

}

.Homepage-button{

}

.Apts-button{

}

.Account-button{
  
} 

.logout-button {

}

.Login-Signup-button {

}