
<body>
  {{! insert all user data that we want to display here}}
  {{#if username}}
  <h2>Welcome back {{username}}!</h2>
  {{/if}}

</body>
<footer> 
  <nav> 
    <a href="/">Go to home</a>
    <a href="/users/logout">Click here to logout</a>
  </nav>
</footer>
<!-- Add user information that we decide to pass in /users/protected>