
<body>
  {{! insert all user data that we want to display here}}

</body>
<footer> 
  <nav> 
    <a href="/">Go to home</a>
    <a href="/users/logout">Click here to logout</a>
  </nav>
</footer>
<!-- Add user information that we decide to pass in /users/protected>