{{!Page where user that is logged in can view all apts
todo1: add a + symbol in the top right to add apartments}}

<body>
  <p>Hello apt list</p>
  {{!add a way to sort apartments}}
  <form id="addNewApt-form" action="/apartments/add-new-apartment" method="GET">
    <label for="usernameInput">Add Apartment</label>
    <button type="submit">+</button>
  </form>
  {{!list of all avaiable apartments}}
  <main>
    <ul>
      {{#each apt}}
      <li>
        <a href="/apartments/apartment/{{this._id}}">{{this.apartmentName}} {{this.rentPerMonth}} {{this.numBedrooms}}<a>
      </li>
      {{/each}}
    </ul>
  </main>
  
</body>