{{!Page where user that is logged in can view all apts
todo1: add a + symbol in the top right to add apartments}}
<p>Hello apt list</p>
<body>
  {{!add a way to sort apartments}}
  <form id="addNewApt-form" action="/apartments/add-new-apartment" method="GET">
    <label for="usernameInput">Add Apartment</label>
    <button type="submit">+</button>
  </form>
  {{!list of all avaiable apartments}}
  
</body>