<!DOCTYPE html>
<html lang="en"> 
<body>
  <p>Hello apt list</p>
  {{!list of all avaiable apartments}}
  <main>

    <form id="sortByform">
    <label for="sortByInput">Sort By:</label>
    <select name = "sortByInput" id = "sortByInput"> 
      <option value="Alphabetical">Alphabetical</option>
      <option value="Cost">Cost</option>
      <option value="NumBed">Number of Bedrooms</option>
      <option value="NumBath">Number of Bathrooms</option>
      <option value="NumRes">Number of Residents</option>
      <option value="PetsAll">Pets Allowed</option>
    </select>

     <button type="submit">+</button>
    </form>

  <ul id="results"></ul>

  <footer>
    <form id="addNewApt-form" action="/apartments/add-new-apartment" method="GET">
    <label for="usernameInput">Add Apartment</label>
    <button type="submit">+</button>
  </form>
  </footer>
</body>
<script src="../../public/js/main.js"></script>
</html>